body{background-color:lightgoldenrodyellow;}
hr{
  border-style:none;
  border-top-style:dotted;
  border-color:grey;
  border-width:6px;
  width:50px;
}
h1{color:magenta;}
h2{color:magenta;}
h3{color:magenta;}
